/* Navbar */
nav {
	float: left;
}
.navbar {
	flex-direction: column;
}
.navbar-expand-lg .navbar-nav {
	flex-direction: column;
}
.navbar {
	width: 15%;
	height: 100vh;
	align-items: flex-start;
}
.navbar-brand {
	margin-left: 0.5em;
	padding-bottom: 0;
}
.navbar .container-fluid,
.navbar-expand-lg,
.navbar-expand-lg .navbar-nav {
	flex-direction: column;
	align-items: flex-start;
}

/* Corps principal */
main {
	margin-right: 50px;
	text-align: justify;
}

.titre-ajout {
	display: flex;
	justify-content: space-between;
}

form input {
	margin-bottom: 0.7em;
}

/* Application des media queries */
@media screen and (max-width: 1045px) {
	.navbar {
		display: none;
	}
	main {
		margin-right: 5px;
		text-align: justify;
	}
}
@media screen and (max-width: 500px) {
	.navbar-brand {
		display: none;
	}
}
