html {
	position: relative;
	min-height: 100%
}
.content-page {
	margin-top: 20px;
	margin-left: 17%;
	padding: 0 15px 65px 15px;
	min-height: 80vh;
}
.avatar-sm {
	height: 2.25rem;
	width: 2.25rem
}
table.dataTable {
	border-collapse: collapse !important;
	margin-bottom: 15px !important
}
#DataTables_Table_0_info {
	font-weight:600;
}
/* Corps principal */
main {
	margin-right: 50px;
	text-align: justify;
}
/* Eléments divers */
.titre-ajout {
	display: flex;
	justify-content: space-between;
}
form input {
	margin-bottom: 0.7em;
}
.footer {
	padding: 19px 15px 20px;
	position: absolute;
	right: 0;
	left: 250px;
	color: #6c757d;
	border-top: 1px solid #e2e7f1
}
.footer a {
	text-decoration: none;
}
/* Application des media queries */
@media screen and (min-width: 1046px) {
	nav {
		float: left;
	}
	.navbar {
		width: 15%;
		height: 100vh;
	}
	.navbar,
	.navbar .container-fluid,
	.navbar-expand-lg .navbar-nav {
		flex-direction: column;
		align-items: flex-start;
	}
}
@media screen and (max-width: 1045px) {
	.modal-backdrop {
		--bs-backdrop-zindex: 0;
	}
	main {
		margin-right: 5px;
		padding-top: 50px;
	}
	.content-page {
		margin-left: 3%;
	}
	.footer {
		left: 0;
		text-align: center
	}
}
