.my-5 {
	margin-block: 3rem;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.justify-content-center {
	justify-content: center;
}

h6 {
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
	font-size: 1rem;
}

.div-input {
	margin-bottom: 1rem;
}

.text-center {
	text-align: center;
}

.auth-page-sidebar {
	padding: 0;
	background-image: url(../images/auth-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	position: relative;
}

.overlay {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

.auth-user-testimonial {
	text-align: center;
	color: #fff;
	position: absolute;
	margin: 0 auto;
	padding: 0 1.75rem;
	bottom: 3rem;
}
